data/03.SingleCellProcessing/scMatrix/AU_scMatrix_CycloneSeq/analysis_results/Auco.seurat.rds
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/Auco.normalized.h5ad
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/ClH23.normalized.h5ad
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/Clhe.normalized.h5ad
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/Dare.normalized.h5ad
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/HoH13.normalized.h5ad
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/Neve.normalized.h5ad
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/Spla.normalized.h5ad
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/TrH1.normalized.h5ad
data/03.SingleCellProcessing/SingleCellDataH5ad_processed/TrH2.normalized.h5ad
data/05.GenomeAnalysis/eggNOG_FunctionalAnnotation/eggNOG_output_processed/all_species.emapper.annotations
data/06.SingleCellAnalysis/DNB_analysis/a_phylum_DNB_compute_results.rds
data/06.SingleCellAnalysis/DNB_analysis/b_phylum_DNB_filtered_obj.rds
data/06.SingleCellAnalysis/DNB_analysis/DNB_enrich/all_species.emapper.annotations
data/06.SingleCellAnalysis/DNB_analysis/neural_working.rds
data/06.SingleCellAnalysis/NeuronEmergence/Terms_lib/Dare.term2gene_GO.tsv
data/06.SingleCellAnalysis/scOrthoGeneH5ad/Auco.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneH5ad/ClH23.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneH5ad/Clhe.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneH5ad/Dare.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneH5ad/HoH13.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneH5ad/Neve.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneH5ad/Spla.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneH5ad/TrH1.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneH5ad/TrH2.OG.normalized.h5ad
data/06.SingleCellAnalysis/scOrthoGeneRDS/Auco.OG.normalized.rds
data/06.SingleCellAnalysis/scOrthoGeneRDS/Dare.OG.normalized.rds
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/Auco.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/ClH23.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/Clhe.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/Dare.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/HoH13.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/Neve.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/Spla.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/TrH1.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/mtx_obs_var_umap/TrH2.OG.matrix.mtx
data/06.SingleCellAnalysis/scOrthoGeneRDS/Spla.OG.normalized.rds
data/06.SingleCellAnalysis/SingleCellAnnotation/Auco.normalized.annotated.h5ad
data/06.SingleCellAnalysis/SingleCellIntegrated/Seurat_RPCA/integrated_rpca.rds
data/06.SingleCellAnalysis/SingleCellIntegrated/Seurat_RPCA/pca_embeddings.csv
data/06.SingleCellAnalysis/SingleCellIntegrated/Seurat_RPCA_to_Scanpy/sc_BasalMetazoa.matrix.data.h5
data/06.SingleCellAnalysis/SingleCellIntegrated/Seurat_RPCA_to_Scanpy/sc_BasalMetazoa.normalized.gzip.h5ad
data/06.SingleCellAnalysis/SingleCellIntegrated/Seurat_RPCA_to_Scanpy/sc_BasalMetazoa.normalized.h5ad
data/06.SingleCellAnalysis/SingleCellIntegrated/Seurat_RPCA_to_Scanpy/sc_BasalMetazoa.reduction.pca.csv
data/06.SingleCellAnalysis/SingleCellIntegrated/Seurat_RPCA_to_Scanpy/sc_BasalMetazoaDataset/sc_BasalMetazoa.normalized.gzip.h5ad
data/06.SingleCellAnalysis/SingleCellIntegrated/Seurat_RPCA_to_Scanpy/sc_BasalMetazoaDataset.tar.gz
data/07.SpatialTranscriptomicsAnalysis/auco_MDIC3/Auco_SC/cellular_communication.txt
data/07.SpatialTranscriptomicsAnalysis/auco_MDIC3/Auco_SC.exp.txt
data/07.SpatialTranscriptomicsAnalysis/auco_MDIC3/Auco_SC.GRN.txt
data/07.SpatialTranscriptomicsAnalysis/auco_MDIC3/Auco_ST/cellular_communication.txt
data/07.SpatialTranscriptomicsAnalysis/auco_MDIC3/Auco_ST.exp.txt
data/07.SpatialTranscriptomicsAnalysis/auco_MDIC3/Auco_ST.GRN.txt
data/07.SpatialTranscriptomicsAnalysis/auco_sc_st/Auco.bin50.OGs.normalized.h5ad
